body {
  text-align: center;
  background-color: #fff1e6;
}

img {
  max-width: 300px;
}
header {
  background-color: #cb997e;
  border: 10px solid #cb997e;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  text-align: center;
  width: 100%;
}
header h1 {
  color: white;
  padding: 6px 12px;
  display: inline-block;
}
h2 {
  background-color: #f0efeb;

  padding: 20px 120px;
}
h3 {
  display: inline-block;
  padding: 20px 120px;
  font-size: 22px;
}
li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin: 20px;
  padding: 10px 40px;
}
.CatsLove li {
  background-color: #ede7e2;
}
.CatsHate li {
  background-color: #eddcd2;
}

.lasagna {
  background-color: #ede7e2;
}
.otherCats {
  background-color: #eddcd2;
}
.CatsLove {
  background-color: #b7b7a4;
  display: inline-block;
  padding: 40px 130px;
  margin: 40px;
}
.CatsHate {
  background-color: #a5a58d;
  display: inline-block;
  padding: 40px 130px;
  margin: 20px;
}
.extraImgs {
  display: flex;
  background-color: gray;
  flex-wrap: wrap;
}

.extraImgs img {
  background-color: aliceblue;
  padding: 20px;
  margin: 20px;
  max-height: 200px;
}
.form {
  background-color: blanchedalmond;
  display: inline-block;
  padding: 20px 600px;
}
